<a class="navbar-brand" href="/">
    <img src="/static/imgs/stream.png" width="40vw">
</a>
<span class="our_menu" style="color: #003478 !important;font-weight: 600; font-size: small;"> STREAM </span>
<span id="common_status" class="" style="width: 50px; text-align:right; display: hidden; white-space: nowrap;"></span>

<ul class="navbar-nav ml-auto mt-2 mt-lg-0">

<li class="nav-item mr-4 mb-2 mb-lg-0">
    <a class="nav-link" href="/geoapp/view_md.html/?viewid=about.md"# > 
        <i class="fas fa-info"></i> <span class="our_menu">About</span></a>
</li>
    
<li class="nav-item mr-4 mb-2 mb-lg-0">
    <a class="nav-link" href="/geoapp/solutions.html"> 
    <i class="fas fa-network-wired"></i> <span class="our_menu">Product</span></a>
</li>
