{% extends "common.html" %}
{% load i18n %}



{% block head_title %}{% trans "Change Password" %}{% endblock %}


{% block content %}
<style>
.fc{
    max-width: 100%;
    padding: 0px;
    border-radius: 6px;
}
input{
    width: 100%;
    text-align: left;
    height: 50px;
    padding: 10px;
}
label{
    margin: 0;
}
</style>    

<div class="container-fluid text-center fc" >
    
    <br/>
    <br/>
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
    <br/>
    <br/>
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form class="container-fluid text-center fc"  method="POST" action="{{ action_url }}">
                {% csrf_token %}
                
                <div class="" style="max-width: 600px; display: inline-table;">
                {% for field in form %}
                    <div class="fieldWrapper" style="text-align: left; width: 100%;">
                        {{ field.errors }}
                        <label style="width:200px;text-align: left;">{{ field.label_tag }}</label> {{ field }}
                    </div>
                    <br/>
                {% endfor %}
                
                <input class="btn btn-primary btn-lg" type="submit" name="action" value="{% trans 'change password' %}"/>
            </div>
        </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
