{% extends "common.html" %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<style>
.fw1{
    width: 100%;
    padding-left: 5px;;
    padding-right: 5px;;
    text-align: -webkit-center;
}
.fc{
    background: aliceblue;
    padding: 0px;
    border-radius: 12px;
    box-shadow: 2px 2px silver;
}
input{
    width: 350px;
    text-align: left;
    height: 50px;

}
</style>


    {% if user.is_authenticated %}
    
        {% include "account/snippets/already_logged_in.html" %}
        {% block content_extra %} {% endblock %}
    
    {% else %}
    <div class="fw1" >
    <div class="fc" style="text-align: center">

        <br/><br/>
        <h3 class="h3" id="head_banner">{% trans "Password Reset" %}</h3>
        <br/><br/>

        <p class="forgot_password_info" >Enter registered e-mail to receive a link reset it.</p>
<br/>
        <form method="POST" class="container-fluid text-center" id="forgot_password_form"
            action="{% url 'account_reset_password' %}">
              {% csrf_token %}
        {{ form.as_p }}
            <input name="DOMAIN" id="DOMAIN" hidden value="https://stream.geospaces.org">
            <br/>
            <br/>
        <input class="btn btn-primary " type="submit" value="{% trans 'Reset My Password' %}" />
        </form>

        <p class="forgot_password_info">Contact if you still experiencing issues @ <a href="mailto://admin@geospaces.org"> admin@geospaces.org</a></p>
        <br/><br/>
        <br/><br/>
        
    </div>
    </div>
    {% endif %}

{% endblock %}
