appnope==0.1.4
asgiref==3.8.1
asttokens==2.4.1
attrs==23.2.0
audioread==3.0.1
autobahn==23.6.2
Automat==22.10.0
cached-property==1.5.2
certifi==2024.7.4
cffi==1.16.0
channels==4.1.0
chardet==4.0.0
charset-normalizer==3.3.2
click==8.1.7
colabexts==0.12300000000000003
comm==0.2.2
constantly==23.10.4
contourpy==1.2.1
cryptography==3.4.7
cycler==0.12.1
daphne==3.0.2
debugpy==1.8.2
decorator==5.1.1
defusedxml==0.7.1
Django==5.0.7
django-allauth==0.44.0
django-extensions==3.2.3
django-oauth-toolkit==2.1.0
django-oauth2-provider==0.2.6.1
django-proxy==1.3.0
dnspython==2.6.1
elastic-transport==8.13.1
elasticsearch==8.13.1
et-xmlfile==1.1.0
exchangelib==5.4.1
executing==2.0.1
filelock==3.15.4
fonttools==4.53.1
fsspec==2024.6.1
greenlet==3.0.3
h11==0.14.0
huggingface-hub==0.23.4
hyperlink==21.0.0
idna==3.7
incremental==22.10.0
ipykernel==6.29.5
ipython==8.26.0
isodate==0.6.1
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
josepy==1.14.0
jupyter_client==8.6.2
jupyter_core==5.7.2
jwcrypto==1.5.6
kiwisolver==1.4.5
lazy_loader==0.4
librosa==0.10.2.post1
llvmlite==0.43.0
lxml==5.2.2
mangorest==0.13400000000000004
MarkupSafe==2.1.5
matplotlib==3.9.1
matplotlib-inline==0.1.7
more-itertools==10.3.0
mozilla-django-oidc==4.0.1
mpmath==1.3.0
msgpack==1.0.8
nest-asyncio==1.6.0
networkx==3.3
numba==0.60.0
numpy==1.26.4
oauthlib==3.2.2
openai-whisper @ git+https://github.com/openai/whisper.git@ba3f3cd54b0e5b8ce1ab3de13e32122d0d5f98ab
openpyxl==3.1.5
packaging==24.1
pandas==2.2.2
pandasql==0.7.3
parso==0.8.4
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.2.2
polars==1.1.0
pooch==1.8.2
prompt_toolkit==3.0.47
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==16.1.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.20
pydub==0.25.1
Pygments==2.18.0
PyJWT==2.1.0
pymsteams==0.2.2
pyOpenSSL==21.0.0
pyparsing==3.1.2
pyspnego==0.11.0
python-dateutil==2.9.0.post0
python-magic==0.4.27
python3-openid==3.2.0
pytube==15.0.0
pytz==2021.1
PyYAML==6.0.1
pyzmq==26.0.3
regex==2024.5.15
requests==2.32.3
requests-oauthlib==1.3.0
requests_ntlm==1.3.0
safetensors==0.4.3
scikit-learn==1.5.1
scipy==1.14.0
service-identity==24.1.0
shortuuid==1.0.13
six==1.16.0
soundfile==0.12.1
soxr==0.3.7
SQLAlchemy==2.0.31
sqlparse==0.4.1
stack-data==0.6.3
sympy==1.13.0
tailer==0.4.1
threadpoolctl==3.5.0
tiktoken==0.7.0
tokenizers==0.19.1
torch==2.2.2
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
transformers==4.42.3
Twisted==24.3.0
txaio==23.1.1
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
urllib3==2.2.2
uvicorn==0.30.1
wcwidth==0.2.13
zope.interface==6.4.post2
