{% extends "common.html" %}
{% block content %}
<div class="container">
<section id="content"><H3>Privacy Policy </H3></section>
<br/>
<br/>
<br/>
	 <strong>Summary</strong>
</p>
<p>
Geospaces.org, Inc. (“we,” “us” and “our”) respects individual privacy and values the confidence of our subscribers.We want you to be familiar with what information we collect about you, how the information is being used and what choices you have regarding the collection and use of the information.The privacy principles that we follow with respect to the collection, use, disclosure and protection of information in the course of providing our products and services are consistent with relevant U.S. federal and state laws.
</p>
<p>
This Privacy Policy (the “Policy”) applies to and describes our privacy practices and principles in connection with our subscribers and consumers who access this website.The Policy covers information that we collect directly from you, automatically when you interact with our websites and mobile applications and from third-party information sources.
</p>
<p>
By using our websites, mobile applications and/or our products and services, you consent to the privacy practices described in this Policy.You also agree to obtain annual notices of, and changes to, this Policy electronically by visiting our website.
</p>
<p>
 <strong>Personal Information We Collect</strong>
</p>
<p>
	                           Personal information is information about you that identifies you as an individual. The personal information we collect depends on how you interact with us and the products and services that you subscribe to.We collect personal information directly from you through our websites, Application Program Interfaces (“APIs”), mobile applications and when you contact our customer service (collectively, the “Site”).We also collect personal information from third-party sources.
</p>
<p>
	                           When you subscribe to or add products and services we offer, we collect information from you including:
</p>
<ul class="bulleted-list">
	<li>Your contact and identity information such as name, date of birth, postal and e-mail addresses, phone numbers, and Social Security number; </li>
	<li>Information you provide to verify your identity and use features in our products and services.This may include information about your finances and financial accounts (including login and authentication information), automobiles, insurance and identifying and biometrical information about you; </li>
	<li>Your credit card or other payment account information, when you purchase products and services from us; </li>
	<li>Your children’s identity information when enrolling your children in our child identity protection products such as their name, date of birth, and Social Security number; </li>
	<li>Information provided when you contact our customer service, fraud resolution agents, provide general feedback, submit content or post to any community forum on the Site. </li>
</ul>
<p>
	                           Depending on the products and services that you subscribe to, we obtain information from others on your behalf including:
</p>
<ul class="bulleted-list">
	<li>Information from other Experian companies (“affiliates”) and from our third-party providers including credit and other information that enables us to provide you with our products and services; </li>
	<li>If you provide information that enables us to access information from your financial and/or other accounts, we will obtain transactional information from those accounts including individual payment transactions, deposits and withdrawals; </li>
	<li>If you provide information on a third-party website to subscribe to our products and services, that third party may provide that information to us so we can provide you with our products and services.Please see additional details about third-party websites in <a href="#Other Important Privacy Information">Other Important Privacy Information.</a></li>
</ul>
<p>
	 <strong>How We Use Personal Information</strong>
</p>
<p>
	                           We use personal information:
</p>
<ul class="bulleted-list">
	<li>To verify your identity and provide you with the products and services you request. Depending on the information you provide and your selected products and services, your personal information is used to access and monitor information you’ve requested, provide you with identity protection services and enable applications for credit or loans; </li>
	<li>To send credit, score, identity protection and transactional alerts to the e-mail, mobile device and/or phone number you provide; </li>
	<li>To send important information to you related to your account, the Site, our Terms and Conditions or our policies. </li>
	<li>To inform you of products, services and promotions that may be of interest to you unless you have requested that we do not send you marketing and promotional communications; </li>
	<li>To process payments for the products and services you purchase; </li>
	<li>If applicable, to verify your children’s identity and provide products and services you request on behalf of your children; </li>
	<li>For our everyday business purposes including audits, security, detecting and preventing fraud, analysis, product improvements, research and development;</li>
	<li>For other purposes when you provide your consent and/or we describe the purpose to you at the time it is collected.For example, when you request that we provide your information to monitor your financial accounts or when you request features that we offer from companies we partner with.</li>
</ul>
<p>
	 <u>Non-personal information</u> is any information that does not reveal who you are, doesn’t identify you individually and/or is about a collective group of Site users.This includes information described under “<a href="#Cookies">Cookies, Tracking Technologies and Targeted Advertising</a>” and other information that that doesn’t identify you including general demographic, publicly available, derived, inferred or specifically expressed information from users of the Site. This information may be used by us and shared with third parties for any purpose.However, if we combine any non-personal information with your personal information so that it reveals who you are, it will be treated by us as personal information as long as it is combined.
</p>
<p>
	 <strong>How We Share Personal Information</strong>
</p>
<p>
	 <u>Affiliates</u>:As a part of Experian, we share personal information with our Experian affiliates for the purposes noted in this Policy.We do not share personal information with our affiliates for their marketing purposes without your consent.
</p>
<p>
	                           We also share personal information with non-affiliated third parties as described:
</p>
<p>
	 <u>Business Partners:</u> We share your personal information with companies that we have partnered with to offer products that may be of interest to you.We also share your information to provide you with products and services that you request.
</p>
<p>
	 <u>Service Providers:</u> We share your personal information with third parties who perform services on our behalf.We share information with these service providers to provide you with the products and services you request and for everyday business purposes. For example, we use service providers for billing, communicating with our customers, detecting and preventing fraud, analysis, product improvements and development and to offer products that may be of interest to you.
</p>
<p>
	 <u>With Your Consent:</u> We share your personal information with third parties who you specifically authorize, consent or direct us to share your information with. For example, we share information when you request products or services offered by lenders, insurance companies and other companies that we partner with.We also share information when you ask us to access information from your financial and/or other accounts through one or more of our third parties.
</p>
<p>
	 <u>Legal Purposes</u>: We share personal information with government entities and others for legal and necessary purposes including: to respond to requests from government entities or our regulators; to comply with subpoenas, law enforcement requests and other legal processes; to enforce our Terms and Conditions; and as necessary to protect the rights, privacy, safety or property of our customers, ourselves or others.
</p>
<p>
	   In the event of a merger, acquisition, sale, bankruptcy or other disposition of some or all of our assets, we may share and/or transfer your personal information to an affiliate or relevant third party.
</p>
<p id="Cookies">
	 <strong>Cookies, Tracking Technologies and Targeted Advertising</strong>
</p>
<p>
	                         When you use our Site, we, our affiliates, our business partners and third-party service providers collect information about your devices and interactions with our Site. The types of information collected and how that information is used and/or shared depends on how you interact with our Site and, in some cases, the choices you make.A variety of tools and technologies are used to collect this information.
</p>
<p>
	                           Information collected and the tools and technologies used for collection include:
</p>
<ul class="bulleted-list">
	<li><u>Device Information</u>: The Site collects information about your devices and browsers including types of operating systems, versions, preferences, settings, Internet Protocol (“IP”) addresses and geolocation.If you access our Site using mobile devices, we collect information about your mobile devices including device IDs, mobile network information and geolocation.This information is used for identity verification, to analyze trends and gather demographic information about the Site’s users as a whole. </li>
	<li><u>Server Logs</u>: Logs are used to automatically record device information as well as your interactions with our Site such as what time of day you visited. In the event of a problem with our Site, information in the logs allow us to diagnose and the resolve problem. </li>
	<li><u>Cookies</u>: Cookies are small text files sent to your browser by a website you visit.The Site collects and uses session and persistent cookies.Cookies allow companies to recognize your device and store information about your account and preferences. For example, we may use cookies to store information about pages visited on our sites, settings and preferences, or other information that we have associated with visitors to our Site. Cookies also allow us to track internal metrics and enhance the experience users of our Site. </li>
	<li><u>Pixel tags</u>: Pixel tags (i.e. web beacons, clear GIFs, pixels or tags) are images or small strings of code that are placed on websites, advertisements or within e-mails. These technologies collect information about your online activities over time and across different websites or online services.For example, the Site collects user activities on our Site, links that users click on and pages viewed, the URLs user came from and e-mails opened or forwarded.This information is used for Site tracking and administration (i.e. user movements, usage, performance and improvements); enabling you to enroll and log-in to the Site; delivering and tailoring custom content; development of new products and services and fraud detection and prevention. </li>
	<li><u>SDKs and Advertising IDs:</u> We use Software Development Kits ("SDKs") to collect mobile device information and general location. The SDKs track user movements, mobile application events and user interactions. This information is used for identity verification and also helps us improve our mobile applications for our customers. We also collect and use Advertising Identifiers ("Advertising IDs") that allow us to identify your mobile device over time for advertising purposes. </li>
	<li><u>Targeted Advertising</u>: We, our affiliates, business partners and third-party service providers collect, use and share information to develop and deliver targeted online advertising.These are ads that you may see across different sites and devices over time.This information includes marketing information such as your preferences and inferences based on your interactions with the Site.</li>
</ul>
<p>
	                           We also use service providers to help us perform advertising-related functions such as measuring the effectiveness of our ads, managing how many times you may see an ad, reporting on the performance of our ads, ensuring services are working correctly and securely, providing aggregate statistics and analytics, improving when and where you may see ads, and/or reducing ad fraud.
</p>
<p>
	 <strong>Choices You Have</strong>
</p>
<p>
	                           You can use a range of tools to control information collection, use and sharing as well as make choices about receiving offers of products and services.Some browsers have incorporated "Do Not Track" (DNT) features that can send a signal to the websites you visit indicating you do not wish to be tracked. Because there is not a common understanding of how to interpret the DNT signal, our websites do not operate differently in response to browser DNT signals.
</p>
<p>
	 <u>Opt-outs</u>:

</div>

<div style="position:relative; bottom: 0;width: 100%; z-index:10;">
    {% include "footer.html" %}
</div>

{% endblock %}
