{% extends "common.html" %}
{% block content %}
<!-- -----------------------------------------------------------------------------
    STYLE
------------------------------------------------------------------------------- -->
<style>
</style>
<!-- -----------------------------------------------------------------------------
    HTML
------------------------------------------------------------------------------- -->
<div class="container" style ="padding: 10px; width: 1024px;" >

<h1>&nbsp; Our services</h1>
<hr/>
    <br/><br/>
<p>
    Services
</p>
    <p>
        This is an example of a webpage where you can drag and drop a file and call server to 
        do somethings.
        
        This application demostrates how to create a HTML site and call backend server to get 
        information and display it on your page. <br/><br/><br/>
    </p>
<hr/>
<a href=# onclick="" class="btn btn-outline-secondary" > Helpful? </a>
<a href=# onclick="" class="btn btn-outline-secondary" > Need more info? </a>

<!-- -----------------------------------------------------------------------------
    HTML
------------------------------------------------------------------------------- -->
<script>

</script>
{% endblock %}
