{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Reset your Password</title>
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">

<div style="width: 90%; padding: 12px; border: 1px solid #ececec; border-radius: 5px;background: #fcfcfc;"> 

<h2> Reset your Password</h2>

<hr/>
<p>
	Please reset your password by clicking the link below.
	We may need to send you critical information about our service and it is important that we have an 
	accurate email address.

</p>

<br/>
<p>
	<a href="{{ password_reset_url1 }}"  class="btn-primary" itemprop="url">Reset your password</a>

</p>
<br/>

<p>
	<b>Thank you</b>
</p>
<p>

+{{ site_name }}
-{{current_site}}
/{{ site_URL }}
</p>

</div>	


</body>
</html>

