{% extends "common.html" %}
{% block content %}
<!-- -----------------------------------------------------------------------------
    STYLE
------------------------------------------------------------------------------- -->
<style>
</style>
<!-- -----------------------------------------------------------------------------
    HTML
------------------------------------------------------------------------------- -->
<div class="container" style ="padding: 10px; width: 1024px;" >

<h1>&nbsp; My Application Index file - change me</h1>
<hr/>
    <br/><br/>
<p>
    This is sample application you can use to build applications on web.
    You can use this to develop application on your local machine and eventually deploy 
    on a server where it is accessible to other users.
</p>
</div>
<!-- -----------------------------------------------------------------------------
    SCRIPTS
------------------------------------------------------------------------------- -->
<script>  
</script>
{% endblock %}
