{% extends "layout.html" %}
{% block content %}


<!--script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css"-->

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script> 
<script src="https://code.highcharts.com/stock/6.1.1/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>

<title>Build Models</title>

<div id="container">

    <style>
    .center {
        text-align: center
    }
    
    .fullWidth {
        width: 100%
    }
    
    .resize {
        width: 80%
    }
    .left {
        text-align: left;
    }
    .right {
        text-align: right;
    }
    
    .bordered {/*
        display: inline-block;
        padding: 20px;
        border: dashed 4px #000;
      
        border-image-slice: 2;
        border-image-repeat: round;  
          
        border-image: url("http://i.stack.imgur.com/wLdVc.png") 2 round;
        border-image-source: url("http://i.stack.imgur.com/LKclP.png");
        width: 100%;
        */
        border: dashed;
    }
    
    .borderBlack {
        border-color: black;
    }
    
    .borderRed {
        border-color: red;
    }
    
    .thinBorder {
        border: dashed 1px #000;
    }
    
    .color {
        background-color: #DDD
      }
      
    .double {
        colspan: "2"
    }
    
    .margin {
        margin: 2px;
    }
    
    .alignTop {
        vertical-align: top;
    }
    
    .alignBottom {
        vertical-align: bottom;
    }
    
    .google-visualization-table-td {
        text-align: left !important;
    }    

    textarea {
        resize: vertical;
        font-size: 12px
    }
    
    .success {
        background-color: lawngreen
    }
    
    .failed {
        background-color: LightCoral 
    }
    
    input {
        font-size: 12px
    }
    
    .header {
        font-size: 24px
    }
    
    .subheader {
        font-size: 16px
    }
    
    .spacing {
        border-collapse: separate;
        border-spacing: 8px;
    }
 
    input:invalid {
        border: 2px solid red;
    }
    </style>

    <table id="content" style="width: 100%">
        <col width="50%">
        <col width="50%">
        <tr>
            <td class="">
                <form id="form_id" class="margin" method="post" action="/api/buildmodels/" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input id="user_id" type="hidden" name="user">
                    <table class="spacing" style="width: 100%">
                        <col width="50%">
                        <col width="50%">
                        <tr>
                            <td class="center alignTop">
                                <table id="filters_id" class="fullWidth spacing">
                                    <col width="50%">
                                    <col width="50%">
                                    <tr> 
                                        <td class="" colspan="2">
                                            <label>Project Name: 
                                                <select id="project_name_id" class="resize" name="project_name" required>
                                                    <option></option>
                                                </select>
                                            </label><br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="center" colspan="2">
                                            <br /><div class="header">Fitness Filters</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="">
                                            <div class="subheader">Either</div>
                                        </td>
                                        <td class="">
                                            <div class="subheader">Both</div>
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td class="">
                                            <input id="filter_1_either_id" class="resize" type="number" step=0.01 min=0 max=1 name="filter_1_either" value=".75"><br />
                                        </td>
                                        <td class="">
                                            <input id="filter_1_both_id" class="resize" type="number" step=0.01 min=0 max=1 name="filter_1_both" value=".5"/><br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="">
                                            <input class="resize" type="number" step=0.01 min=0 max=1 name="filter_2_either" value=""><br />
                                        </td>
                                        <td class="">
                                            <input class="resize" type="number" step=0.01 min=0 max=1 name="filter_2_both" value=""><br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="">
                                            <input class="resize" type="number" step=0.01 min=0 max=1 name="filter_3_either" value=""><br />
                                        </td>
                                        <td class="">
                                            <input class="resize" type="number" step=0.01 min=0 max=1 name="filter_3_both" value=""><br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="">
                                            <input class="resize" type="number" step=0.01 min=0 max=1 name="filter_4_either" value=""><br />
                                        </td>
                                        <td class="">
                                            <input class="resize" type="number" step=0.01 min=0 max=1 name="filter_4_both" value=""><br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="">
                                            <input class="resize" type="number" step=0.01 min=0 max=1 name="filter_5_either" value=""><br />
                                        </td>
                                        <td class="">
                                            <input class="resize" type="number" step=0.01 min=0 max=1 name="filter_5_both" value=""><br />
                                        </td>
                                    </tr>
                                </table>
                                <!--button type="button" onclick="addFilterOption()">+ Add Filter</button-->
                            </td>
                            <td class="center alignTop">
                                <table class="spacing" style="width: 100%;"><!--class="bordered thinBorder margin"-->
                                    <!--th class="center" colspan="2"><h3>Optional Filters</h3></th-->
                                    <tr>
                                        <td colspan=2>
                                            <textarea id="short_description_id" style="width: 100%" name="short_description" rows="1" placeholder="Short description (64 characters)" maxlength="64"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan=2>
                                            <textarea id="description_id" style="width: 100%" name="description" rows="3" placeholder="Description"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="left" colspan=2>
                                            <label>Train from: <input id="training_from_id" class="fullWidth" type="datetime-local" name="fromDate" required></label>
                                        </td>
                                        <td class="right"
                                    </tr>
                                    <tr>
                                        <td class="left" colspan=2>
                                            <label>Train to: <input id="training_to_id" class="fullWidth" type="datetime-local" name="toDate" required></label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Blacklist: <input type="radio" name="sensor_filter_type" value="Blacklist" checked="checked"></label>
                                        </td>
                                        <td>
                                            <label>Whitelist: <input type="radio" name="sensor_filter_type" value="Whitelist"></label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="center">
                                            <textarea id="sensor_list_id" style="width: 100%" name="sensor_list" rows="3" placeholder="ex. Sensor1,Sensor2,...,SensorN"></textarea>
                                        </td>
                                    </tr>
                                </table>
                                
                                
                            </td>
                        </tr>
                        <tr>
                            <td class="center" colspan=2>
                                <button type="submit" id="submit_id" >Build Model(s)</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </td>
            <td class="center alignTop color">
                <div id="dashboard_id">
                <table width="100%">
                    <tr>
                        <td>
                        
                        </td>
                    </tr>
                    <tr>
                        <div id="table_div" class=""></div>
                        </div>
                    </tr>
                    <tr>
                        <button type="button" onclick="deleteModels()">Delete Model(s)</button>
                        <button type="button" onclick="renameModel()">Rename Model</button>
                    </tr>
                </table>
                
            </td>
        </tr>
        <tr class="center">
            <td colspan=2>
                <div id="message"></div>
            </td>
        </tr>
        <tr class="center">
            <td colspan=2>
                <div id="missing_data_chart_id"></div>
            </td>
        </tr>
    </table>


</div>
<script>
    $.ajaxSetup({ 
         beforeSend: function(xhr, settings) {
             function getCookie(name) {
                 var cookieValue = null;
                 if (document.cookie && document.cookie != '') {
                     var cookies = document.cookie.split(';');
                     for (var i = 0; i < cookies.length; i++) {
                         var cookie = jQuery.trim(cookies[i]);
                         // Does this cookie string begin with the name we want?
                         if (cookie.substring(0, name.length + 1) == (name + '=')) {
                             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                             break;
                         }
                     }
                 }
                 return cookieValue;
             }
             if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                 // Only send the token to relative URLs i.e. locally.
                 xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
             }
         } 
    });
    
    $('#project_name_id').on("change", function(){
        getMissingData();
    });
    
    function getMissingData(){
        $.ajax({
            type: "POST",
            url: "/api/getMissingDataSeries/",
            data: {project_name: $('#project_name_id').val()},
            success: function(res)
            {
                showBandChart('blah', JSON.parse(res), 'missing_data_chart_id');
                console.log(res);
            },
         });
    }
    
    function deleteModels(){
        $.ajax({
            type: "POST",
            url: "/api/deleteModel/",
            data: $('#form_id').serialize(),
            success: function(data)
            {
               console.log(data); 
               setTimeout(createModelList, 500);
            },

        });
    }
    
    function renameModel(){
        
        alert("not important enough to focus on");
        createModelList();
    }

//Build models
    $(document).ready(function() { 
        $('#form_id').ajaxForm({
            beforeSubmit: function() {
                if (!validateForm($(this))){
                    return false;
                }
                document.getElementById("user_id").value = "{{user.get_username}}";
                $("#message").html("Starting...");
            },
        
            success: function(response) { 
                console.log(response);
                $("#message").html("Successfully started building model(s).").addClass("success").removeClass('failed'); 
                createModelList();
            },
            error: function(response) {
                $("#message").html("An error occurred.").addClass("failed").removeClass('success');
            },
        }); 
        
        //Get project names
        
        function setProjectNames(res, statusTxt, xhr) { 
            select = document.getElementById('project_name_id');
            fdata = JSON.parse(res).data;
            for (var i = 0; i<=fdata.length; i++){
                var opt = document.createElement('option');
                opt.value = fdata[i];
                opt.innerHTML = fdata[i];
                select.appendChild(opt);
            } 
        }

        function getProjectNames() {
            console.log("Getting project names");

            $.get("/api/listprojectnames", setProjectNames);
        }
        
        getProjectNames();
        
    }); 
    
    function validateForm(form) {
        var returnValue = true;
        form = document.getElementById("form_id");
        numberOfFilterFields = 5
        //This seems to hardcoded, if we dynamically make the form tags this could be made dynamically too
        for(i=1;i<=numberOfFilterFields;i++){
            bothTagName = 'filter_' + String(i) + '_both';
            eitherTagName = 'filter_' + String(i) + '_either';
            both = form.elements[bothTagName].value;
            either = form.elements[eitherTagName].value;
            //Validate if value(s) exist
            if(!(both == "" && either == "")){
                //if both values are defined we need further validation
                if(both != "" && either != "") {
                    if(both >= either){
                        returnValue = false;
                        alert("Either filter should be greater than the both filter");
                    };
                } else {
                    returnValue = false;
                    alert("Must have both an 'either' and a 'both' filter");
                };
            };
            
        };
        
        return(returnValue);
    }
    
/*
    var counter = 2
    function addFilterOption(){
        counter = counter + 1
    
        table = document.getElementById("filters_id");
        var row = table.insertRow(-1);
        var cell1 = row.insertCell(0);
        cell1.setAttribute("class", "margin");
        var cell2 = row.insertCell(1);
        cell2.setAttribute("class", "margin");
        cell1.innerHTML = "<input class=\"resize\" type=\"text\" name=\"filter_" + String(counter) + "_either\" value=\"\"><br />";
        cell2.innerHTML = "<input class=\"resize\" type=\"text\" name=\"filter_" + String(counter) + "_both\" value=\"\"><br />";
    }
*/


    function createTable(res, statusTxt, xhr) { 
        makeTable(JSON.parse(res), "table_div");
    }

    function createModelList() {
        console.log("Getting model list");
  
        //$.get("/api/listmodels", createTable);
        $.get("/api/listmodels", createTable);
    }

    function makeTable(mdata, chartID){
        google.charts.load('current', {'packages':['table','controls']});
        google.charts.setOnLoadCallback(drawTable);
        
        function drawTable() {
        
            var data = new google.visualization.DataTable();
            
            for(i = 0;i < mdata.columns.length;i++){
                if(typeof mdata.data[0][i] == 'object') {
                    type = 'string';
                } else {
                    type = typeof mdata.data[0][i];
                }
                data.addColumn(type,mdata.columns[i]);
            }
                        
            data.addRows(
                mdata.data
            );
            function selectHandler(e) {
                projectName = mdata.data[table.getSelection()[0].row][mdata.columns.indexOf("project_name")];
                description = mdata.data[table.getSelection()[0].row][mdata.columns.indexOf("description")];
                short_description = mdata.data[table.getSelection()[0].row][mdata.columns.indexOf("short_description")];
                filter_1_either = mdata.data[table.getSelection()[0].row][mdata.columns.indexOf("either_filter")];
                filter_1_both = mdata.data[table.getSelection()[0].row][mdata.columns.indexOf("both_filter")];
                sensor_list = mdata.data[table.getSelection()[0].row][mdata.columns.indexOf("list")];
                training_from = String(mdata.data[table.getSelection()[0].row][mdata.columns.indexOf("training_from")]).replace(" ", "T");
                training_to = String(mdata.data[table.getSelection()[0].row][mdata.columns.indexOf("training_to")]).replace(" ", "T");
                document.getElementById("project_name_id").value = projectName === undefined ? "" : projectName;
                document.getElementById("description_id").value = description === undefined ? "" : description;
                document.getElementById("short_description_id").value = short_description === undefined ? "" : short_description;
                document.getElementById("filter_1_either_id").value = filter_1_either === undefined ? "" : filter_1_either;
                document.getElementById("filter_1_both_id").value = filter_1_both === undefined ? "" : filter_1_both;
                document.getElementById("sensor_list_id").value = sensor_list === undefined ? "" : sensor_list;
                document.getElementById("training_from_id").value = training_from === undefined ? "" : training_from;
                document.getElementById("training_to_id").value = training_to === undefined ? "" : training_to;
                getMissingData();
            } 
            
            var table = new google.visualization.Table(document.getElementById(chartID));

            google.visualization.events.addListener(table, 'select', selectHandler);
            
            table.draw(data, {showRowNumber: false, width: '90%', height: '100%', page: 'enable', pageSize: '10', title: 'Model List', sortColumn: 0, sortAscending: false});
            
            


        }
    }
    createModelList();
</script>

<script>
    function showBandChart(bands, sdata, chartID) {
        Highcharts.stockChart( chartID, {
            colors: ['#0072BC', '#BFDAFF', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4'],
            chart:    { 
                type: 'spline' ,  
                zoomType: 'x', 
                backgroundColor: 'rgba(250, 250, 250, 0.1)',
                events: {
                    selection: function (event) {
                        if (event.xAxis) {
                            document.getElementById("training_from_id").value = get_timestamp(new Date(event.xAxis[0].min));
                            document.getElementById("training_to_id").value = get_timestamp(new Date(event.xAxis[0].max));
                        }
                    }
                },
            
            },
            
            rangeSelector: {selected: 1 },
            credits: { enabled: false},
            title: { text: 'Number of Non-Constant Values for ' + document.getElementById("project_name_id").value },

         rangeSelector: {
            inputEnabled: true,
            selected: 0,
            buttonTheme: {
                width: 50
            },
            inputBoxWidth: 150,
            inputStyle: {
                color: '#039',
                fontWeight: 'normal',
            },
            inputDateFormat: '%Y-%m-%d %H:%M:%S',
            inputEditDateFormat: '%Y-%m-%d %H:%M:%S',
            inputDateParser: function (value) {
                value = value.split(/[:\.]/);
                return Date.UTC(
                    parseInt(value[0], 10),
                    parseInt(value[1], 10),
                    parseInt(value[2], 10),
                    parseInt(value[3], 10),
                    parseInt(value[4], 10),
                    parseInt(value[5], 10)
                );
            }
          },
          //xAxis: { 
          //      plotBands: bands
          // },
            series: [
                {
                    allowPointSelect: false,
                    marker: {
                        enabled: true, 
                        radius: 3 , 
                        states: {
                            hover: {
                                fillColor: 'red',
                                lineWidth: 1,
                                radius: 3,
                            },
                            select: {
                                color: 'firebrick',
                                fillColor: 'firebrick',
                                radius: 5,
                            }
                        }
                    },
                name: 'Score',
                data: sdata.data,
                shadow: true,
                turboThreshold:5000,
                tooltip: { valueDecimals: 2, crosshair: true },
            }],
            
        });
    }
    
    function get_timestamp(date){
        _userOffset = date.getTimezoneOffset()*60*1000;
        date = new Date(date.getTime() + _userOffset);
        return(date.getFullYear().pad(4) + '-' + (date.getMonth()+1).pad(2) + '-' + date.getDate().pad(2) + 'T' + date.getHours().pad(2) + ':' + date.getMinutes().pad(2)/* + ':' + date.getSeconds().pad(2)*/);
        //2011-06-03T00:00:00
    }
    Number.prototype.pad = function(size) {
        var s = String(this);
        while (s.length < (size || 2)) {s = "0" + s;}
        return s;
    }
</script>



  
        
{% endblock %}