{% extends "layout.html" %}
{% block content %}


<!--script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css"-->

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
<script src="http://malsup.github.com/jquery.form.js"></script> 

<title>Collect Data</title>

<div id="container">

    <style>
    .center {
        text-align: center
    }
    
    .fullWidth {
        width: 100%
    }
    
    .fullHeight {
        height: 100%;
        overflow: auto
    }
    
    .resize {
        width: 80%
    }
    .left {
        text-align: left;
    }
    .right {
        text-align: right;
    }
    
    .bordered {/*
        display: inline-block;
        padding: 20px;
        border: dashed 4px #000;
      
        border-image-slice: 2;
        border-image-repeat: round;  
          
        border-image: url("http://i.stack.imgur.com/wLdVc.png") 2 round;
        border-image-source: url("http://i.stack.imgur.com/LKclP.png");
        width: 100%;
        */
        border: dashed;
    }
    
    .borderBlack {
        border-color: black;
    }
    
    .borderRed {
        border-color: red;
    }
    
    .thinBorder {
        border: dashed 1px #000;
    }
    
    .color {
        background-color: #DDD
      }
      
    .double {
        colspan: "2"
    }
    
    .margin {
        margin: 2px;
    }
    
    .alignTop {
        vertical-align: top;
    }
    
    .alignBottom {
        vertical-align: bottom;
    }
    
    .alignCenter {
        vertical-align: middle;
    }
    
    .google-visualization-table-td {
        text-align: left !important;
    }    

    textarea {
        resize: vertical;
        font-size: 12px
    }
    
    .success {
        background-color: lawngreen
    }
    
    .failed {
        background-color: LightCoral 
    }
    
    input {
        font-size: 12px
    }
    
    .header {
        font-size: 24px
    }
    
    .subheader {
        font-size: 16px
    }
    
    .spacing {
        border-collapse: separate;
        border-spacing: 8px;
    }
 
    input:invalid {
        border: 2px solid red;
    }
    
    input[type=file] {
        margin: 0 auto;
    }
    </style>

    <table id="content" style="width: 100%; height: 750px">
        <col width="50%">
        <col width="50%">
        <tr>
            <td class="center">
                <div class="bordered borderBlack alignCenter center fullHeight" id="file_drop">
                    <form id="form_id" class="margin" method="post" action="/api/collectdata/" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input id="user_id" type="hidden" name="user" value="{{user.get_username}}">
                        <table class="spacing" style="width: 100%">
                            <tr>
                                <td class="">
                                    <table id="filters_id" class="fullWidth spacing">
                                        <tr> 
                                            <td class="">
                                                <label>Project Name: <input id="project_name_id" class="resize" type="text" name="project_name" required></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input id="file_id" type="file" name="file" accept="csv/*" required>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    <button type="submit" id="submit_id" >Upload</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </td>
            <td class="center alignTop color">
                <div id="dashboard_id">
                <table width="100%">
                    <tr>
                        <td>
                        
                        </td>
                    </tr>
                    <tr>
                        <div id="table_div" class=""></div>
                        </div>
                    </tr>
                </table>
                
            </td>
        </tr>
        <tr class="center">
            <td colspan=2>
                <div id="message"></div>
            </td>
        </tr>
        <tr class="left">
            <td colspan=2 class=" center fullWidth" style="white-space: pre-line">
                <h4><div id="start_of_file_id"></div></h4>
                <div id="file_preview_table_id"></div>
            </td>
        </tr>
    </table>


</div>

<script>
//Submit form
    $(document).ready(function() { 
        $('#form_id').ajaxForm({
            beforeSubmit: function() {
                if (!validateForm($(this))){
                    return false;
                }
                document.getElementById("user_id").value = "{{user.get_username}}";
                $("#message").html("Sending...")
            },
        
            success: function(response) { 
                $("#message").html("Successfully uploaded data.").addClass("success").removeClass('failed'); 
                createProjectList()
            },
            error: function(response) {
                $("#message").html("An error occurred.").addClass("failed").removeClass('success');
            },
        }); 
    }); 
    
    function validateForm(form) {
        var returnValue = true;
        form = document.getElementById("form_id");
        if(form.elements['file'].files.length != 1){
            alert("A telemetry file is required.");
            returnValue = false;
        }
        return(returnValue);
    }
</script>
<script>
    function createTable(res, statusTxt, xhr) { 
        makeTable(JSON.parse(res), "table_div");
    }

    function createProjectList() {
        console.log("Getting project list");
  
        $.get("/api/listprojects", createTable);
    }
    createProjectList()
</script>
<script>
    $('#file_drop').on(
        'dragover',
        function(e) {
            e.preventDefault();
            e.stopPropagation();
            $("#file_drop").addClass("borderRed").removeClass('borderBlack'); 
        }
    ).on(
        'dragenter',
        function(e) {
            e.preventDefault();
            e.stopPropagation();
        }
    ).on(
        'dragleave',
        function(e) {
            e.preventDefault();
            e.stopPropagation();
            $("#file_drop").addClass("borderBlack").removeClass('borderRed'); 
        }
    ).on(
        'drop',
        function(e) {
            e.preventDefault();
            e.stopPropagation();
            $("#file_drop").addClass("borderBlack").removeClass('borderRed'); 
            console.log(e);
            var dt = event.dataTransfer;
            var files = dt.files;
           
            document.getElementById("file_id").files = files;
         
        }
    );
    
    $('#file_id').on("change", function(){
        var file   = document.getElementById("file_id").files[0];
        
        if(file.size/1024/1024/1024 >= 1) {
            document.getElementById("file_id").value = "";
            alert("File should not be >1GB.");
            return;
        }
        
        var reader = new FileReader();         
        document.getElementById("start_of_file_id").textContent = "Sample of " + file.name + '\n';
 
        reader.onload = function(e) {
            var nLines = reader.result.split('\n').slice(0,9);
            
            mdata = {columns: nLines[0].split(',').slice(0,9),
                     data: nLines.slice(1,10).map(x => x.split(',').slice(0,9)),
                     };
            
            
            makeTable(mdata,"file_preview_table_id");
            //document.getElementById("start_of_file_id").textContent += nLines;
        }
        reader.readAsText(file, 'UTF-8'); 
    });
    
    function makeTable(mdata, chartID){
        google.charts.load('current', {'packages':['table','controls']});
        google.charts.setOnLoadCallback(drawTable);
        
        function drawTable() {
            console.log(mdata);
            var data = new google.visualization.DataTable();
            
            for(i = 0;i < mdata.columns.length;i++){
                if(typeof mdata.data[0][i] == 'object') {
                    type = 'string';
                } else {
                    type = typeof mdata.data[0][i];
                }
                data.addColumn(type,mdata.columns[i]);
            }
                        
            data.addRows(
                mdata.data
            );
             
            function selectHandler(e) {
              projectName = mdata.data[table.getSelection()[0].row][mdata.columns.indexOf("project_name")];
              document.getElementById("project_name_id").value = projectName;
            }
            var table = new google.visualization.Table(document.getElementById(chartID));

            google.visualization.events.addListener(table, 'select', selectHandler);
            
            table.draw(data, {showRowNumber: false, width: '90%', height: '100%', page: 'enable', pageSize: '10', title: 'Model List', sortColumn: 0, sortAscending: false});
        }
    }
</script>



  
        
{% endblock %}