{% extends "layout.html" %}
{% block content %}
{% include 'highcharts-tables.html' %}
<style>
.wrapper { display: flex; align-items: stretch; }
#sidebar { min-width: 250px; max-width: 250px; background: #EEE; color: #fff; transition: all 0.3s;}
#sidebar.active { margin-left: -250px; }
#content { padding: 20px; min-height: 100vh; transition: all 0.3s;}
@media (max-width: 768px) {
    #sidebar        { margin-left: -250px; }
    #sidebar.active { margin-left: 0;      }
    #sidebarCollapse span { display: none; }
}
</style>

<script>
//----------------------------------------Common Functions    
// Extarct a column from an array
var a = [1, 2, 3]
var b = ['a', 'b', 'c']

    
const arrayColumn = (arr, n) => arr.map(x => x[n]);
    
    
function collapseSidebar(i){
    $('#sidebar').toggleClass('active')
    if (i==0){
        $('#collapse-sidebar').css('display', '');
    }else{
        $('#collapse-sidebar').css('display', 'none');
    }
}
function turnDiv(num, total){
    for (i=0; i<= total; i++) {
        console.log(i)
        if( i != num )
            $('#tabdiv'+i).css('display','none');
    }
    $('#tabdiv'+num).css('display','');
}
</script>

<div class="wrapper">
<nav id="sidebar">
<button type="button" style="background:#aaa;width:100%" onclick ="collapseSidebar(0)">&laquo;&nbsp O F F L I N E &nbsp; A N A L Y S I S</button>
        
<div id=analysis_list style="color: gray;">
<ul class="nav" id="menu">
<li><a href="#" onclick="refreshData()"><i class="fa fa-refresh" ></i> Refresh</a></li>
<li><a href="#" onclick="setTimeout(refreshInterval, 1000)"><i class="fa fa-refresh" ></i> Refresh Start</a></li>
<li><a href="#" onclick="alert('Create New Offline Analysis!')"><i class="fa fa-list" ></i> Create New Offline Analysis</a></li>

<b>Notification:</b>
<textarea style="width:100%; color: black" tooltip="Send notifications: EMails/Phone Numbers">
mailto: hrchg@lmco.com
textto: 303 301-4501
</textarea>
    
<b>Notify When:</b>
<textarea style="width:100%; color: black" tooltip="Send notifications: EMails/Phone Numbers">
TIC202.SV !-> TIC201.PV
Anomaly Score > 50    
</textarea>

<hr style="width: 90%; border: 1px solid #cccccc; padding: 0px;" />    
</ul>
</div>
<style>
.navv1>li>a {
    position: relative; display: block; padding: 3px 10px; ;
}
</style>
<ul class="nav" id="menu">
    <div class=navv1 id=analysis_list1> </div>
</ul>
</nav>
<button type="button" id="collapse-sidebar"
        style="height:30px; width:24px; position:fixed bottom; gray; display: none;" 
        onclick ="collapseSidebar()">&raquo;</button>

<!-- ***** CONTENTS BELOW -->
<div id=details style="width:100%;">
<div id="content">               
    <div id="anomalyScore" style="height: 300px; width=99% min-width: 310px"></div>
        <div id="uTestcChart" style="height: 200px; width=99% min-width: 310px;border: 1px gray solid;"></div>
        <div id="yTestcChart" style="height: 200px; width=99% min-width: 310px;border: 1px gray solid;"></div>
    <!--
    <div id="uTrainChart" style="height: 200px; width=99% min-width: 310px;border: 1px gray solid"></div>
    <div id="yTrainChart" style="height: 200px; width=99% min-width: 310px;border: 1px gray solid"></div>
    -->
    <div id="tables" style="display:inline-block; overflow:hide;white-space: nowrap;overflow-x: scroll;">
        <div id="sensTable" style="width:250px;float:left;border:1px gray solid">Table 1</div>
        <div id="bInvTable" style="wwidth:800px;float:left;border:1px gray solid">Tabl2 2</div>
    </div>
    <div id="tarea" style="display:inline-block; float:right; overflow:hide;white-space: nowrap;overflow-x: scroll;">
        <table border=1 style="fixed:right;width: 350px" > <tr> <td width=100%; valign=top>
            <button type="button" onclick="#">Save Notes</button> </td><tr><td>
            <textarea rows="13" style="width:100%;"> SME Notes</textarea>
            </td></tr>
        </table>
    </div>
    <br/><br/>
</div>
</div>

<span style="position: fixed; bottom: 0px; width: 100%; border: 0px solid #8AC007;" id='status'>Status:</span>

<script>
function status(t) {
    $('#status').text(":" + t )
}
var LIST_OF_ANALYSIS = null;
var ANOMDATA_TXT = null
var ANOMDATA_JSON = null
var CURRENT_ANALYSIS_TABLE = null
var ds;

function addAnomalyScoreChart(responseTxt, statusTxt, xhr) {
    nd = JSON.parse(responseTxt);
    console.log("Showing ... ", responseTxt.slice(0,100))
    if ( nd.length <= 0) {
        return;
    }
    d = nd[0].values.slice(0) //make a copy - > it never works 
    d.forEach(array => array.splice(0,1));
    console.log("Update chart ... ", d)
    for (i in d){
        v = d[i]
        chart.series[0].addPoint(v, true,true)
        ANOMDATA_JSON[0].values.push(v)
    }    
    showAnomalyScoreChartClicked('', ANOMDATA_JSON[0].values.length-1)
}
var nTimes = 0;    
function refreshInterval(){
    if (nTimes > 100){
        nTimes = 0
    }
    else {
        nTimes++;
        console.log("refresh cycle Started!!", nTimes);
        refreshData()
        setTimeout(refreshInterval, 5000)
    }
}
    
function refreshData(){
    vals = ANOMDATA_JSON[0].values;
    dt1 = vals[0][0]
    dt2 = vals[vals.length - 1][0]
    
    table = CURRENT_ANALYSIS_TABLE
    q = `/api/iq/?q=select mtime,anomalyScore from ${table} WHERE mtime > ${dt2} LIMIT 10`;
    console.log("Showing ... ", q, dt1, dt2)
    $.get( q, addAnomalyScoreChart)        
}
    
function showUPlotBase(responseTxt, statusTxt, xhr){
    if(statusTxt !== "success"){
        $('#status').text("Error Loading File!!!")
        return  0;
    }
    var ds = JSON.parse(responseTxt)[0];
    var dsv= ds.values
    dsv.forEach(array => array.splice(0,1));
    var sdsv = [ { name: ds.columns[2], data: dsv} ]
    return sdsv
}
function showUPlot(responseTxt, statusTxt, xhr){
    sdsv = showUPlotBase(responseTxt, statusTxt, xhr)
    if ( sdsv)
        showHighChart('uTestcChart', sdsv, 'uName', '', 'y','x')
}
function showYPlot(responseTxt, statusTxt, xhr){
    sdsv = showUPlotBase(responseTxt, statusTxt, xhr)
    if ( sdsv)
        showHighChart('yTestcChart', sdsv, 'yName', '', 'y','x')
}
function showSensorPlot(sensor, showPlotCB){
    vals = ANOMDATA_JSON[0].values;
    dt1 = vals[0][0]
    dt2 = vals[vals.length - 1][0]
    
    table = CURRENT_ANALYSIS_TABLE.replace(/_analysis$/,'')
    q = `select mtime, ${sensor} from ${table} WHERE mtime>=${dt1} AND mtime<=${dt2} LIMIT 5000`;
    console.log(q );
    $.get(`/api/iq/?q=${q}`, showPlotCB)
} 
    
var BRK_DATA
var BRK_JSON
var bSens
var rSens
function showBTables(responseTxt, statusTxt, xhr){
    console.log("showBTables ... ", responseTxt.slice(0,100))
    BRK_DATA = responseTxt
    BRK_JSON = JSON.parse(BRK_DATA)[0];
    time = BRK_JSON.values[0][0]
    bCnt = BRK_JSON.values[0][1]
    bInvs= BRK_JSON.values[0][2]
    bSens= BRK_JSON.values[0][3]
    $('#status').text(`Time: ${time} Broken COunt: ${bCnt}`)
    
    bi= bInvs.length <= 1 ? [] : JSON.parse(bInvs)
    showBrokenSensorsTable(bi, 'bInvTable');
    
    bj = bSens.length <= 2 ? [] :JSON.parse(bSens)
    rSens = []
    hi = bj ['1']
    for (c in hi) {
        //console.log(c, hi[c])
        rSens.push([c, hi[c]]);
    }
    showBrokenRankTable(rSens, 'sensTable')
    
    //How the top two charts corresponding the 
    //brokenInvariantsTableData
    //brokenRankTableData
    if ( brokenInvariantsTableData.getNumberOfRows() > 0){
        v1 = brokenInvariantsTableData.getValue(0,0)
        v2 = brokenInvariantsTableData.getValue(0,1)
        
        showSensorPlot(v1, showUPlot)
        showSensorPlot(v2, showYPlot) 
    }
}
var pp = null    
function showAnomalyScoreChartClicked(point, idx){
    pp = point
    if (point && typeof(point) != "undefined") {
        //idx = point.point.index
        at = point.point.x
    } else {
        at = ANOMDATA_JSON[0].values[idx][0]
    }
    console.log(`==> ShowingBroken Invs index ${idx} ${at}`)
    q = `select brokenCount, brokenInvariants, brokenSensors from ${CURRENT_ANALYSIS_TABLE} WHERE mtime=${at} LIMIT 2`;
    $.get(`/api/iq/?q=${q}`, showBTables)
} 
var d    
function showAnomalyScoreChart(responseTxt, statusTxt, xhr) {
    ANOMDATA_TXT = responseTxt;
    ANOMDATA_JSON= JSON.parse(ANOMDATA_TXT);
    console.log("Showing ... ", responseTxt.slice(0,100))
    //d3json(graph, 'id', 'group', 'r')
    if ( ANOMDATA_JSON.length <= 0 ){
        return 
    }
    d = ANOMDATA_JSON[0].values.slice(0) //make a copy
    d.forEach(array => array.splice(3));
    d.forEach(array => array.splice(0,1));
    showMarkerChart(d, 'anomalyScore');
    showAnomalyScoreChartClicked('', ANOMDATA_JSON[0].values.length-1)
}

function getAnalysisData(row) {
    ret = {};
    r = LIST_OF_ANALYSIS.data[row]
    for (c in LIST_OF_ANALYSIS.columns) {
        ret[LIST_OF_ANALYSIS.columns[c]] = r[c]
    }
    return ret;
}
function showOfflineAnalysis(i, analysismodel, file) {   
    d = getAnalysisData(i)
    console.log("Showing ... ", i, analysismodel, file, d)
    
    CURRENT_ANALYSIS_TABLE = d.db_tableBase + "_analysis"
    q = `/api/iq/?reverse=1&q=select mtime,anomalyScore from ${CURRENT_ANALYSIS_TABLE} ORDER BY time DESC LIMIT 5000`;
    q = `/api/iq/?reverse=&q=select mtime,anomalyScore from ${CURRENT_ANALYSIS_TABLE} ORDER BY time LIMIT 500`;
    //status(`Will Show Analysis for :${i} ${analysismodel} and ${file} ${q}`)
    $.get( q, showAnomalyScoreChart)        
}
    
function showOfflineAnalysisList(responseTxt, statusTxt, xhr) {
    if(statusTxt !== "success"){
        $('#status').text("Error Loading File!!!")
        return
    } else {
        $('#status').text(statusTxt)
    }
    console.log('Loaded Data ' + responseTxt.slice(0,100) )
    console.log('Loaded Data ' + statusTxt)
    try{
        LIST_OF_ANALYSIS = JSON.parse(responseTxt);
    } catch(e){
        console.log(' Error Loaoding Data', e)
        return;
    }
    html = ''
    d=LIST_OF_ANALYSIS.data
    for (i= 0; i < d.length; i++ ){
        pr = "" + i + ", '" + d[i][3] + "','" + d[i][4] + "'"
        p1= "<li><a href=# onclick=\"showOfflineAnalysis("+ pr +")\" > "
        p1 += `<i class='fa fa-paperclip' ></i> ${d[i][3]} </a></li>\n`
        //console.log(p1);
        html += p1 
    }
    $('#analysis_list1').html( html )
    
   showOfflineAnalysis(0, '','');
}

function getAnalysisList() {
   u = '{{user.get_username}}'
   status(u)
   console.log("Logged in User Name", u)
   $.get("/api/lsOfflineAnalysis/?user='{{user.get_username}}'", showOfflineAnalysisList)
   //$.get("http://localhost:8000/api/cq/?user={{user.get_username}}&q=data/inv_models.csv", showModelsList)
}
    
google.charts.load('current', {'packages':['table']});
google.charts.setOnLoadCallback(ShowPageContents);
function ShowPageContents(){
    // START HERE
    getAnalysisList()
    
    var urlParams = new URLSearchParams(window.location.search);
    var parms = {}
    for(urlParams of urlParams.entries() ) { 
        console.log(urlParams[0], urlParams[1]); 
        parms[urlParams[0]] = urlParams[1];
    }
    if (parms['analysis'] && parms['file'] ) {
        //showAnalysis(0, parms['model'], parms['file']) 
    }
    showHighChart('uTestcChart', sdata, 'Sensor1', '', 'y','x')
    showHighChart('yTestcChart', sdata, 'Sensor2', '', 'y','x')
}
    
    
$(document).ready(function() {
     $("#tarea").draggable().resizable();
     $("#tables").draggable().resizable();
     //$("#anomalyScore").draggable().resizable();
     //$("#uTestcChart1").draggable().resizable();
     $("#yTestcChart").draggable().resizable(); 
});
</script>

{% endblock %}
