{% extends "common.html" %}
{% block content %}
{% load custom_tags %}
<style>
</style>
<div style="padding: 25px; height: 100vh; overflow: auto;"  >
    <h1> Services </h1>
    <p>
    This is just an example. Your homework s is to find this file and modify the content 
        
    </p>
    
    <li> Change the title to My services.
</div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    SCRIPTS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<script>
$(document).ready(function() {
})
</script>
{% endblock %}
