{% extends "common.html" %}
{% block content %}

<div class="center">
    <h1>Index</h1>
<br/>
<br/>


{% include "footer.html" %}
<script>
function setbg() {
    var sun = {   "#day" : "sunday",
            "background-image":    'url("/static/media/bgimg1.png")',
            "background-repeat":   'no-repeat',
            "background-position": '0 -400px'
        }
    var styles = [
        {}, {}, {}, {}, {}, {}, {}
    ];
    s = styles[(new Date().getDay() % styles.length)]
    for (k in s){
        if (k.startsWith('#'))
            continue;
        $('body').css(k, s[k])

    }
}
setbg();

</script>
{% endblock %}
