{% extends "common.html" %}
{% block content %}

<div class="center"
     style='font-family: "Google Sans",Arial,Helvetica,sans-serif; padding: 20px; margin: 20px;'>

    <br/>
    <h1>&nbsp;This is your Main page</h1>
<br/>
<br/>
<br/>
</div>
<div class="container" >
        <div class="row">
            <div class="col-md-10">
                
     <img src="static/imgs/ai-hub_2x.png" width=240px align=right valign=top/>
            

I’ve created thorough, extensive, but easy to follow content which you’ll easily understand and absorb.

The course starts with the basics, including Python fundamentals, programming, and user interaction.


The curriculum is going to be very hands-on as we walk you from start to finish becoming a professional Python developer. We will start from the very beginning by teaching you Python basics and programming fundamentals, and then going into advanced topics and different career fields in Python so you can get real-life practice and be ready for the real world.
                       
</div>
</div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<table width=100% class="our_menu" style="text-align:center;" border=0><tr>
    <td><div class="card" style="width: 18rem;margin: 0px auto;">

  <div class="card-body">
    <h5 class="card-title">First Service</h5>
    <p class="card-text">
        <img  width="240px" src="/static/imgs/incog.png"/>     

       Put Details for first Service
      </p>
    <a href="/" class="btn btn-primary">Learn More</a>
  </div>
        </div></td>
    <td><div class="card" style="width: 18rem;margin: 0px auto;">

  <div class="card-body">
    <h5 class="card-title">Reduce Dark Data</h5>
    <p class="card-text">
        <img  width="240px" src="/static/imgs/incog.png"/>     
    </p>
    <p class="card-text">
        Put Details for first Service
    </p>
    <a href="#" class="btn btn-primary">Data to Information</a>
  </div>
    </div></td>

<td><div class="card" style="width: 18rem;margin: 0px auto;">

  <div class="card-body">
    <h5 class="card-title">Research & Innovation</h5>
    <p class="card-text">
        <img  width="240px" src="/static/imgs/incog.png"/>     
        Put Details for first Service
        </p>
    <a href="/" class="btn btn-primary">Turn Key</a>

  </div>
        </div></td>
    <td><div style="height:390px;">.</div></td>
</tr>
</table >

<br/>
{% include "footer.html" %}
<script>

</script>
{% endblock %}
