<style>
.chat-window{
    right: 20;
    position: fixed;
    bottom: 0;
    width: 400px;
    height: 500px;
    border: 2px solid lightgray;
    border-radius: 6px;
    display: none;
    resize:both;
    overflow: auto;
    z-index: 40;
    background: white;
}

.rbutt{
    border-radius: 20px; 
    height: 40px; 
    min-width: 40px; 
    background-color: white; 
    border: 1px solid mediumpurple
}
.sbutt{
    border-radius: 4px;
    min-width: 30px; 
    padding: 3px; 
    background-color: white; 
    border: 0.50px solid mediumpurple;
    color: cornflowerblue
}
.chatToggleDiv{
    position: fixed; 
    width: 30px; 
    bottom: 0; 
    right: 0; 
    z-index: 39; 
    border: 0px solid lightgrey;
    text-align: center;
}

.schsend {
    background: aliceblue;
    width:90%;
    min-height: 40px;
    border-radius: 2px;
    padding: 4px;
    margin-top: 20px;
    float: left;
    border-top-right-radius: 6px;
}
.schrecv {
    background-color: yellowgreen;
    width:90%;
    min-height: 40px;
    border-radius: 2px;
    padding: 4px;;
    margin-top: 3px;
    float: right;
    border-top-left-radius: 6px;
}
.chatstime {
    font-size: x-small;
}
</style>

<div id="chat-window" class="chat-window" >
<div class="fcontainer" >
    <div class="header" style="width: 100%; background-color: lightgray; text-align: right; padding: 5px;">
        <a href=# onclick="toggleChatWindow()">X</a>
    </div>
    <div id="chat_content" class='content'>
    </div>
    <div class="footer" >
        <div>
        <textarea id="chat_msg" style="width: 100%; min-height: 50px;" rows=2 onkeypress="handle(event)" placeholder="Enter Message to Send"></textarea>
        </div>
        <div style="background: white; font-size: small; padding-right: 15px;;">
            Press <span class="sbutt"> shift </span>+<span class="sbutt">enter</span> to insert new line </span>

            <a  class=sbutt style="float: right;"  title="Send" onclick="sendChatMessage()" ><i class="fa fa-paper-plane" ></i> </a>
            <a  class=sbutt style="float: right;"  title="Clear" onclick="clearChat()" ><i class="fa fa-eraser"></i> </a>
            

        </div>
    </div>
</div>
</div>

<div class="chatToggleDiv">
    <button id="openChatWindow" class="sbutt"  onclick="toggleChatWindow()" ><i class="fa fa-comment-alt" ></i></button>
</div>

<script>

function handle(e){
    if ( e.shiftKey && e.keyCode == 13 ){
        return
    }
    if(e.keyCode == 13 ) {
        e.preventDefault();
        sendChatMessage()
    }
}

function toggleChatWindow() {
    $('#chat-window').toggle("slide", { direction: "right" } )
}

function getCurrentTime() {
    var ct = new Date().toLocaleTimeString().
              replace(/([\d]+:[\d]{2})(:[\d]{2})(.*)/, "$1$3");
    return ct;
}
function clearChat() {
    $('#chat_content').html("")

}
let SENT_MESSAGE = null
function sendChatMessage() {
    var msg=  $('#chat_msg').val().replace(/\n/gm,"<br/>").trim()
    if (!msg) {
        return
    }
    $('#chat_msg').val("")

    var c = $('#chat_content').html()
    var ct= "<span class=chatstime> " + getCurrentTime() + "</span>"
    var nc = c + "<div class=schsend> » " + ct + "<br/> " + msg + "</div>"
    $('#chat_content').html(nc)
    $('#chat_content')[0].scrollTop = $('#chat_content')[0].scrollHeight + 50;

    SENT_MESSAGE = msg
    var data= { room: "alert", message: msg }
    callws('/broadcast/', "", null, data)
}
function receiveChatMessage(args="", msg) {
    var msgj = JSON.parse(msg).message.split("\n\n")

    if ( !msgj[2] || msgj[2] == SENT_MESSAGE) {
        SENT_MESSAGE = ""
        return 
    }


    var c = $('#chat_content').html()
    var ct= "<span class='chatstime'> " + getCurrentTime() + "</span>"
    var ct= ct + "<span class='chatstime'> " + msgj[0] + ":" + msgj[1] + "</span>"

    var msgj2= msgj[2].replace(/\n/gm,"<br/>")
    var rc = c + "<div class='schrecv'> " + ct + "<br/> " + msgj2 + "</div>"

    $('#chat_content').html(rc)
    //var nh = $('#chat_content').html()
    //if ( nh !== rc) 
    $('#chat_content').html(rc)

    $('#chat_content')[0].scrollTop = $('#chat_content')[0].scrollHeight + 50;

}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
$(document).ready(function() {
    $('#chat-window').resizable({ handles: "nw"})
    connectWebSocket("alert", )
    RegisterInterest("alert", receiveChatMessage, args="alert")
    CALLWS_LOG_EVENTS=0
})
</script>
