{% extends "common.html" %}
{% block content %}
<style>
.border { vertical-align: baseline; border-width: 0px; border-color: red; border-style: solid; } 
.corder { vertical-align: baseline; border-width: 0px; border-color: blue; border-style: solid;width:64px; } 
.dyn1 { position:absolute; top:90px; left: 700px; } 
</style>

<script src="/static/js/owl-carousel/owl.carousel.js"></script>
<link href="/static/js/owl-carousel/owl.carousel.css" rel="stylesheet">
<section id="banner">
   <!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="/static/imgs/slides/1.jpg" alt="flexslider" />
                <div class="flex-caption">
                    <h3>IT it is..</h3>
               <p>Machine Learning components.</p>
                </div>
              </li>
              <li>
                <img src="/static/imgs/slides/2.jpg" alt="flexslider" />
                <div class="flex-caption">
                    <h3>Strategy and Design</h3>
               <p>Design new Machine Learning and Neural Network Architecture.</p>
                </div>
              </li>
            </ul>
        </div>

   <!-- end slider -->

</section>

<section id="content">
<H1> Services </H1>
 is an open source software library for high performance numerical computation. Its flexible architecture allows easy deployment of computation across a variety of platforms (CPUs, GPUs, TPUs), and from desktops to clusters of servers to mobile and edge devices. Originally developed by researchers and engineers from the Google Brain team within Google’s AI organization, it comes with strong support for machine learning and deep learning and the flexible numerical computation core is used across many other scientific domains.
<br/>
<br/>
<br/>
</section> 

<footer style="background: #022242 !important"> 
    <div class="container" >
        <div class="row">
            <div class="col-md-3">
                <div class="widget">
                    <h5 class="widgetheading">Our Contact</h5>
                    <address>Geospaces Mainroad 
                    Phone (212) 263-5688
							</address>
                    <p>
                        <i class="icon-phone"></i> <br>
                        <i class="icon-envelope-alt"></i> info AT &nbsp; GEOSPACES.ORG
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="widget">
                    <h5 class="widgetheading">Quick Links</h5>
                    <ul class="link-list">
                        <li><a href="#">Latest Events</a></li>
                        <li><a href="#">Terms and conditions</a></li>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Career</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="widget">
                    <h5 class="widgetheading">Latest posts</h5>
                    <ul class="link-list">
                        <li><a href="#">Blogs are cool</a></li>
                        <li><a href="msn.com">MSN.com</a></li>
                        <li><a href="deccanherald.com">Deccan Herald</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="widget">
                    <h5 class="widgetheading">Recent News</h5>
                    <ul class="link-list">
                        <li><a target="new" href="www.news.com">MSN.com </a></li>
                        <li><a target="new" href="www.goolge.com">Google Link</a></li>
                        <li><a target="new" href="#">CNN</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="sub-footer" style="background: # !important">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright">
                        <p>
                            <span>&copy; All right reserved.</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
