{% extends "common.html" %}
{% block content %}

<section id="content">
<H1> Search Test </H1>
<style>
.search1{
    width: 450px;
    height: 30px;
    align: center;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}
</style>
<input class='search1' type="text" id="searchInput" placeholder="Search...">
<script>
var countries = [
    { value: 'Andorra', data: 'AD' },
    { value: 'Zimbabwe', data: 'ZZ' }
];
$('#searchInput').autocomplete({
    autoFocus: true,
    source: countries,  // Local Searches
    source: function(request, response) {  //Customized Local search
        console.log(request.term, response)
        response(countries);
    },
    source: function(request, response) {  //REST call
        console.log(request.term, response)
        $.get('/api1/modules.test.searchTerm/?q='+request.term, 
					function(d){response(JSON.parse(d) ) } )
        //response(countries);
    },
    select: function (event, item) {
      console.log("==> Searched for: ",item.item.value)
    }
  });
$('#searchInput').focus();
</script>
{% endblock %}

