<!DOCTYPE HTML>
<html>
<head>

{% extends "layout.html" %}
{% block content %}

<script src="http://www.webglearth.com/v2/api.js"></script>
<script>
var earth

function initialize() {
    var options = { zoom: 2.5, position: [47.19537,8.524404] , sky: true};
    earth = new WE.map('earth_div', options); 
    WE.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
          attribution: '© OpenStreetMap contributors'
        }).addTo(earth);

    addMarkers()
}
function addMarkers(){
    var marker = WE.marker([51.5, -0.1, 1000]).addTo(earth)
    marker.bindPopup('<b>Location 0:0!</b>');
    earth.setView([51.505, 0], 3);
}

setTimeout(initialize, 1500)
</script>
    <style>
      html, body{padding: 0; margin: 0;}
      #earth_div{width:100%; height:90%; top: 160; right: 0; bottom: 0; left: 0; position: absolute !important;}
    </style>

  <div id="earth_div" ></div>
<section id="content">
</section>


{% endblock %}

