<script type="text/javascript" src="/static/vis/dist/vis.js"></script>
<link href="/static/vis/dist/vis-network.min.css" rel="stylesheet" type="text/css" />
<style>
.fullscreen{
    z-index: -1; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
    bottom: 0;
    background-color: #0f0f0f
 }
</style>
<!-- Here is an example of how to use it
<style>
#mynetwork {
  width: 100%;
  height: 250px;
  border: 1px solid lightgray;
    display: inline;
    float:right;
}
</style>
<div id="mynetwork"></div>
$.get('/api1/modules.files.readFile/?f=/tmp/test/inv.json', showGraph)
-->
<script type="text/javascript">
function showGraph(responseTxt, statusTxt, xhr) {
    if(statusTxt !== "success"){
        $('#status').text("Error Loading File!!!")
    } else {
        $('#status').text(statusTxt)
    }
    //console.log('Loaded Data ' + responseTxt)
    //console.log('Loaded Data ' + statusTxt)
    data = JSON.parse(responseTxt);
    showVisGraph(data, 'mynetwork1');
}
    
var nodes = new vis.DataSet([
    {id: 1, label: 'Node 1'},
    {id: 2, label: 'Node 2'},
    {id: 3, label: 'Node 3'},
    {id: 4, label: 'Node 4'},
    {id: 5, label: 'Node 5'}
]);

// create an array with edges
var edges = new vis.DataSet([
    {from: 1, to: 3},
    {from: 1, to: 2},
    {from: 2, to: 4},
    {from: 2, to: 5},
    {from: 3, to: 3}
]);
var sampledata = {
    nodes: nodes,
    edges: edges
};
var network
function showVisGraph(graphData, div) {
    if (typeof(graphData) == "string"){
        graphData = JSON.parse(graphData);
    }
    var container = document.getElementById(div);
    var options1 = {
      nodes: {
        shape: 'dot',
        scaling: { min: 10, max: 30 },
        font: { size: 12, face: 'Tahoma' }
      },
      edges: {
        width: 0.15,
        selectionWidth: 25,
        hoverWidth: 15,
        color: {inherit: 'from'},
        smooth: { type: 'continuous' }
      },
      physics: {
        stabilization: false,
        barnesHut: {
          gravitationalConstant: -80000,
          springConstant: 0.001,
          springLength: 200
        }
      },
      interaction: {
        tooltipDelay: 200,
        hideEdgesOnDrag: true
      }
    };
    network = new vis.Network(container, graphData, options1);
    setTimeout("network.fit()", 3000);
}
</script>

