<div style="text-align: right; border-bottom: 1px solid #ececec;">
    <a href="#"> my Menu 1 </a> &nbsp; | &nbsp;
    <a href="#"> my Menu 2 </a> &nbsp; | &nbsp;
    <a href="#"> my Test </a> &nbsp; | &nbsp;
</div>

<!-- ---------------------------------------------------------------------------<div style="text-align: right; border-bottom: 1px solid #ececec;">
    YOu will change it to as follows later
    
    <a href="#"> my Menu 1 </a> &nbsp; | &nbsp;
    <a href="/app2/app2/testform.html/"> test Form </a> &nbsp; | &nbsp;
    <a href="/app2/secured/app2/test.html"> test </a> &nbsp; | &nbsp;
</div>
-->