{% extends "common.html" %}
{% block content %}
<!-- -----------------------------------------------------------------------------
    STYLE
------------------------------------------------------------------------------- -->
<style>
</style>
{% include "app2/menu.html" %} 

<!-- -----------------------------------------------------------------------------
    HTML
------------------------------------------------------------------------------- -->
<div class="container">
    Input: <input name=params id=params value="test"> 
    <a href="#" onclick="foo1()" class="btn btn-outline-secondary" > Action </a>

    <div id="status"> </div>
</div>

<!-- -----------------------------------------------------------------------------
    SCRIPTS
------------------------------------------------------------------------------- -->
<script>  
function foo1CB(responseTxt, statusTxt, xhr){
    if (JS_error(responseTxt, statusTxt, xhr, true)) {
    }
    $('#status').html(responseTxt)
    alert(responseTxt)
}
function foo1(){
    console.log("in foo1")
    var v1 = $('#params').val()
    var data= { name: v1}
    alert(v1);
    POST(`/app2/test/`, data, foo1CB)
}
</script>
{% endblock %}