<a class="navbar-brand" href="/">
    <img src="/static/imgs/logo5.png" width="25vw">
</a>
<span class="our_menu" style="color: #003478 !important;font-weight: 900; font-size: larger; "> Example App </span>
<span id="common_status" class="" style="width: 50px; text-align:right; display: hidden; white-space: nowrap;"></span>

<ul class="navbar-nav ml-auto mt-2 mt-lg-0">

<li class="nav-item mr-4 mb-2 mb-lg-0">
    <a class="nav-link" href="/example_app/example_app/about.html"  > 
        <i class="fas fa-info"></i> <span class="our_menu">About</span></a>
</li>
    
